language: python

python:
  - '3.4'
  - '3.5'
  - '3.6'
  - '3.7'

matrix:
  allow_failures:
    - python: '3.7'

addons:
  postgresql: "9.5"

services:
  - docker

cache:
  directories:
    - $HOME/.cache/pip

env:
  global:
    - DATABASE_URL=postgresql://postgres:@localhost/skygear_test?sslmode=disable

before_install:
  - pip install --upgrade pip setuptools
  - sudo apt-get install -y postgresql-9.5-postgis-2.3

install:
  - pip install -r requirements.txt
  - pip install -r test_requirements.txt

before_script:
  - psql -c 'CREATE DATABASE skygear_test;' -U postgres
  - psql -c 'CREATE EXTENSION postgis;' -U postgres -d skygear_test

script:
  - pylama skygear
  - coverage run --source skygear setup.py test
  - lizard skygear -C 10 -W .lizard -w -i 0
  - coverage report -m --omit *tests*

before_deploy:
  - source ~/virtualenv/python${TRAVIS_PYTHON_VERSION}/bin/activate
  - python -V
  - pip install .[doc]
  - pip install awscli
  - pip install git+https://github.com/SkygearIO/skygear-doc-tools.git@master
  - aws configure set preview.cloudfront true
  - make update-version
  - make build

deploy:
  - provider: releases
    api-key: "$GITHUB_RELEASE_TOKEN"
    file:
      - "dist/*.whl"
    skip_cleanup: true
    file_glob: true
    on:
      repo: SkygearIO/py-skygear
      tags: true
      python: 3.6
  - provider: script
    script: ./scripts/deploy.sh
    skip_cleanup: true
    on:
      repo: SkygearIO/py-skygear
      all_branches: true
      python: 3.6

notifications:
  slack:
    secure: "UVurLgQkuXG1WeUYiYonHJduNjw8DEFVrcx9dmMsB5vjKGbl3oIeQYRgn68b1AA1xyY1OQH+d2mSPOpXFnfCILhULUdokM2JewBI2+OcBMiDI4KugBf7DD+lb+IwVsOOjJTnAe8xpZu9+M697VK4d5MtpmKc4bRh6J2FuPCKKieiXNo+nUwTT7MJGF/YeXsUck4L9pyS32Lw7EN54L6DWbJ+O5/TXRbg64U8gozumGvvL4JoGJ9Qjwb325xF9/r9xyqYzVhUavnGZPWAxlJylPgmX0N288x/QuUHKTPbKJGvOvDr7k7lPoHlf3jEYm6v5Ci2Gc8/5MsSKxpa7KRv6iiEIfr3v06hdKAzcGMa72UigBPnUplP4hYscFJU1rQ7a+ikgHfIRl+aaium62XmHDQWiCZ+lPEGWC5u7m0QGzVHjjTAuZBYSJQvGUCax5+A6OGnoqD8MnDfdsxb8xaSNrrH6nZ3ilUeeWJM4iRa92jdFELB7xDACIbFDQtM/dc3ILVdUOznEKa9qdtKqN9SPO+wUvyn39743P/ULKQnn6i70aBeaHrKx4PsVF5IgNzbquaox/cTfTe7o9B9goBzNzHHDUw5Aj1pP7I+e8PrQFYNxWumX9SthyNUxty5g1hw+3NUrlA0b6pc1hc8fzVwXxAjDSDgdLMs38UaASx28Zw="
