bcrypt==3.2.0
boto3==1.21.35
botocore==1.24.35
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
ConfigArgParse==0.12.0
idna==3.3
jmespath==1.0.0
psycopg2==2.9.3
pycparser==2.21
python-dateutil==2.8.2
python-json-logger==0.1.11
requests==2.27.1
s3transfer==0.5.2
six==1.16.0
skygear==1.7.0
SQLAlchemy==1.4.35
strict-rfc3339==0.5
urllib3==1.26.9
websocket-client==0.32.0
Werkzeug==0.11.15
